{% extends "cgapp/base.html" %}

{% block content %}
{% load static %}
{% load i18n %}

<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center"> 
          <strong>{% trans "About" %}</strong>
        </h2>
        <hr>
      </div>
      <div class="col-md-6">
        <img class="img-responsive img-border-left" src="http://placekitten.com/g/400/300" alt="">
      </div>
      <div class="col-md-6">
        <p>{% trans "Description" %}</p>
        <p>This is a great place to introduce your company or project and describe what you do.</p>
        <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-6 col-md-6">
        <div class="col-lg-12 col-md-12">
          <hr>
          <h2 class="intro-text text-center">
            <strong>{% trans "Geographies of Children" %}</strong>
          </h2>
          <hr>
        </div>
        <div class="col-md-12">
          <p>{% trans "Description" %} </p>
          <p>This is a great place to introduce your company or project and describe what you do.</p>
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="col-md-12">
          <a href="{% url 'cgapp:projects' %}">
            <img class="img-responsive img-border-left" src="http://placekitten.com/g/400/300" alt="">
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="col-md-12">
          <hr>
          <h2 class="intro-text text-center">
            <strong>{% trans "The Development of Territories and Spaces" %}</strong>
          </h2>
          <hr>
        </div>
        <div class="col-md-12">
          <p>{% trans "Description" %} </p>
          <p>This is a great place to introduce your company or project and describe what you do.</p>
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="col-md-12">
          <a href="{% url 'cgapp:projects' %}">
            <img class="img-responsive img-border-left" src="http://placekitten.com/g/400/300" alt="">
          </a>
        </div>

      </div>

      <div class="clearfix"></div>
    </div>
  </div>


</div>
<!-- /.container -->

{% endblock %}
