{% load staticfiles %}

{% load thumbnail %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>{% trans "Cultural geographies" %}</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'cgapp/css/bootstrap.css' %}" />
<!-- Custom CSS -->

<link href="{% static 'cgapp/css/business-casual.css' %}" rel="stylesheet">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=cyrillic,cyrillic-ext" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Andika|Cousine:400,400i,700,700i&subset=cyrillic,cyrillic-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&subset=cyrillic,cyrillic-ext" rel="stylesheet"> 
<!-- Font Awesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- ellipsis -->
<script src="{% static 'cgapp/js/jquery.dotdotdot.js' %}"></script>
<!-- jquery ui -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

<script>
$( function() {
    $( "#language" )
    .selectmenu({
position: { my : "left-0 top", at: "left bottom+15" } 
}
)
    .selectmenu({
change: function( event, data ) {
$("#language").change();
}
});
    });
</script>
</head>

<body>
<!--
<div class="social-facebook">
  <a href="https://www.facebook.com/childrensgeographies/" target="_blank"><i class="fa fa-facebook"></i></a>
</div>
-->

<div class="languages">
  <form action="{% url "set_language" %}" method="post">
    {% csrf_token %}
    <select name="language" id="language" class="" onchange="this.form.submit()">
      {% get_language_info_list for LANGUAGES as langs %}
      {% for lang in langs %}
      <option value="{{ lang.code }}"
      {% if lang.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
      {{ lang.name_local }}
      </option>
      {% endfor %}
    </select>
  </form>
</div>

<div class="brand">{% trans "Cultural geographies" %}</div>
<div class="address-bar">childrensgeo@gmail.com facebook.com/childrensgeographies</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
      <a class="navbar-brand" href="index.html">{% trans "Cultural geographies" %}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
        <a href="{% url 'cgapp:blog' %}">{% trans "Blog" %}</a>
        </li>
        <li>
        <a href="{% url 'cgapp:about' %}">{% trans "About " %}</a>
        </li>
        <li>
        <a href="{% url 'cgapp:team' %}">{% trans "Team" %}</a>
        </li>
        <li>
        <a href="{% url 'cgapp:projects' %}">{% trans "Projects" %}</a>
        </li>
        <li>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

{% block content %}{% endblock %}
<footer class="footer-partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p> {% trans "Our Partners" %}</p> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <ul class="list-inline logo-partners">
          {% for partner in partners %}
          <li>
          <img class="img-responsive img-circle" src="{{ partner.image.extra_small.url }}" alt="{{parner.image.name}}">
          {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <p>{% trans "Made by" %} #bb 2016</p>
      </div>
    </div>
  </div>
</footer>
<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
interval: 5000 //changes the speed
})
</script>
</body>

</html>
