{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>{% trans "Admin Page" %}</title>

<!-- Bootstrap Core CSS -->

<link rel="stylesheet" type="text/css" href="{% static 'cgapp/css/bootstrap.css' %}" />
<!-- Custom CSS -->

<link href="{% static 'cgapp/css/sb-admin.css' %}" rel="stylesheet">

<!-- bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<!-- File Uploader -->
<script src="{% static 'ajaxuploader/js/fileuploader.js' %}"></script>
<script src="{% static 'file_form/file_form.js' %}"></script>

<!-- File Uploader Css -->
<link rel="stylesheet" href="{% static 'cgapp/css/fine-uploader.css' %}">


{% block head %}
{% endblock %}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ 
selector:'#id_body',
plugins: ['advlist autolink link image lists charmap hr anchor pagebreak spellchecker', 'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking','save table contextmenu directionality emoticons template paste textcolor'],
toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
});</script>
</head>

<body>

<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'cgapp:create-news' %}">{% trans "Admin" %}</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{% trans "Log out" %}<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
        <a href="#"><i class="fa fa-fw fa-power-off"></i>{% trans "Log Out" %}</a>
        </li>
      </ul>
      </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul id="side-nav" class="nav navbar-nav side-nav">
        <li class="news"> 
        <a id="default" href="{% url 'cgapp:create-news' %}"><i class="fa fa-fw fa-bar-chart-o"></i>{% trans "Add News" %}</a>
        </li>
        <li class="project">
        <a href="{% url 'cgapp:create-project' %}"><i class="fa fa-fw fa-edit"></i>{% trans "Add Projects" %}</a>
        </li>
        <li class="member">
        <a href="{% url 'cgapp:create-member' %}"><i class="fa fa-fw fa-dashboard"></i>{% trans "Add Members" %}</a>
        </li>
        <li class="partner">
        <a href="{% url 'cgapp:create-partner' %}"><i class="fa fa-fw fa-dashboard"></i>{% trans "Add Partners" %}</a>
        </li>
        <li class="news"> 
        <a id="default" href="{% url 'cgapp:edit-news-list' %}"><i class="fa fa-fw fa-bar-chart-o"></i>{% trans "Edit News" %}</a>
        </li>
        <li class=""> 
        <a id="default" href="{% url 'cgapp:edit-projects-list' %}"><i class="fa fa-fw fa-bar-chart-o"></i>{% trans "Edit Projects" %}</a>
        </li>
        <li class=""> 
        <a id="default" href="{% url 'cgapp:edit-member-list' %}"><i class="fa fa-fw fa-bar-chart-o"></i>{% trans "Edit Members" %}</a>
        </li>
        <li class=""> 
        <a id="default" href="{% url 'cgapp:edit-partners-list' %}"><i class="fa fa-fw fa-bar-chart-o"></i>{% trans "Edit Partners" %}</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">

    <div class="container-fluid">

      {% block content %}{% endblock %}

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>

<script>
function setSelectedPageNav() {
  var pathName = document.location.pathname;
  if ($("side-nav ul li a") != null) {
    var currentLink = $("nav ul li a[href='" + pathName + "']");
    currentLink.addClass("active");
  } 
}
setSelectedPageNav();
</script>

<!-- /#wrapper -->
</body>

</html>
