{% extends "cgapp/dashboard.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
{% for object in object_list %}
<div class="row">
  <div class="col-md-8">{{ object.name}}</div>
  <div class="col-md-1">
    <a class="btn btn-default" href="{% url 'cgapp:edit-news' object.id %}" role="button">Edit</a>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{ object.id }}">
   Delete 
  </button>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="{{object.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Do you want to delete {{ object.name }}? </p> 
      </div>
      <div class="modal-footer">
        <form action="{% url 'cgapp:delete-news' object.id%}" method="post">{% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Yes" />
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
