{% extends "cgapp/dashboard.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="dashboard-header">
   {% trans "Edit" %} 
</div>
{% if messages %}
<div class="message-top">
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
    {{ message }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% for object in object_list reversed %}
<div class="row object-list">
  <div class="col-xs-8 col-sm-10 col-md-6">
    {% if object.name %} 
    {{ object.name}}
    {% else %}
    {{ object.last_name }}
    {% endif %}
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2">
    <a class="btn" href="{% url edit_url object.id %}" role="button">
      <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
    </a>
    <button type="button" class="btn btn-md btn-default" data-toggle="modal" data-target="#{{ object.id }}">
      <i class="fa fa-lg fa-times" aria-hidden="true"></i>
    </button>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="{{object.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Do you want to delete {{ object.name }}? </p> 
      </div>
      <div class="modal-footer">
        <form action="{% url delete_url object.id%}" method="post">{% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Yes" />
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
