{% extends "cgapp/base.html" %}

{% block content %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load categories %}

<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">{% trans "Our" %}
          <strong>{% trans "Team" %}</strong>
        </h2>
        <hr>
      </div>
      <div class="row popup-gallery no-gutter">
        {% for member in object_list|language:LANGUAGE_CODE %}
        <div class="col-sm-4 text-center">
          <a href ="{% url 'cgapp:members' member.id %}" class="portfolio-box">
            <img class="img-responsive" src="{{ member.image.medium.url }}" alt="{{ member.image.name}}">
            <div class="portfolio-box-caption green">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  {{ member.last_name}} {{ member.first_name }}
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>

{% endblock %}
